######################################################################
# config variables 
######################################################################

#Provider variable

AzureSubscriptionID                     = ""

SubsetupSTOAName                        = ""
SubsetupContainerName                   = ""
SubsetupKey                             = ""
SubsetupAccessKey                       = ""

DatabricksInfraSTOAName                 = ""
DatabricksInfraContainerName            = ""
DatabricksInfraKey                      = ""
DatabricksInfraAccessKey                = ""